Config(
    prefix: "",
    max_entries: 3,
    actions: [
        Action(
            title: "Suspend",
            description: Some("Suspend the device"),
            keywords: [
                "suspend",
                "sleep",
                "stand by",
            ],
            icon: Some("system-suspend"),
            command: "systemctl",
            args: ["suspend"],
            confirm: false,
        ),
        Action(
            title: "Restart",
            description: Some("Restart the device"),
            keywords: ["restart", "reboot"],
            icon: Some("system-reboot"),
            command: "systemctl",
            args: ["reboot"],
            confirm: true,
        ),
        Action(
            title: "Restart to UEFI",
            description: Some("Restart and enter the UEFI"),
            keywords: [
                "restart to",
                "reboot to",
                "uefi",
                "bios",
                "firmware setup",
            ],
            icon: Some("preferences-system"),
            command: "systemctl",
            args: ["reboot", "--firmware-setup"],
            confirm: true,
        ),
        Action(
            title: "Power off",
            description: Some("Power off the device"),
            keywords: [
                "power off",
                "shut down",
                "turn off",
            ],
            icon: Some("system-shutdown"),
            command: "systemctl",
            args: ["poweroff"],
            confirm: true,
        ),
        Action(
            title: "Log out",
            description: Some("Log out of this session"),
            keywords: ["log out", "end session"],
            icon: Some("system-log-out"),
            command: "uwsm",
            args: ["stop"],
            confirm: true,
        ),
        Action(
            title: "Lock screen",
            description: Some("Lock the screen"),
            keywords: ["lock screen"],
            icon: Some("system-lock-screen"),
            command: "hyprlock",
            args: [],
            confirm: false,
        ),
    ]
)
