name: "Push to Cachix"

on:
  push:

env:
  EXTRA_NIX_CONFIG: |
    substituters = https://cache.nixos.org https://bricked.cachix.org https://nix-community.cachix.org
    trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= bricked.cachix.org-1:SPpNjrCYzlfisekwWTN7dEUQs+OrirrM92h1ZoEnciY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= nix-on-droid.cachix.org-1:56snoMJTXmDRC1Ei24CmKoUqvHJ9XCp+nidK7qkMQrU= pre-commit-hooks.cachix.org-1:Pkk3Panw5AW24TOv6kz3PvLhlH8puAsJTBbOPmBo7Rc= statix.cachix.org-1:Z9E/g1YjCjU117QOOt07OjhljCoRZddiAm4VVESvais=

jobs:
  cache_nixos:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Claim disk space
        uses: wimpysworld/nothing-but-nix@main
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: "${{ env.EXTRA_NIX_CONFIG }}"
      - name: Set up Cachix
        uses: cachix/cachix-action@v15
        with:
          name: bricked
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build NixOS configuration for Potato
        run: >
          nix run github:Mic92/nix-fast-build --
          --no-nom
          --flake ".#legacyPackages.x86_64-linux.nixosConfigurations.potato.config.system.build.toplevel"

  cache_home:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Claim disk space
        uses: wimpysworld/nothing-but-nix@main
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: "${{ env.EXTRA_NIX_CONFIG }}"
      - name: Set up Cachix
        uses: cachix/cachix-action@v15
        with:
          name: bricked
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build Home Manager configuration for Bricked
        run: >
          nix run github:Mic92/nix-fast-build -- 
          --no-nom
          --flake ".#legacyPackages.x86_64-linux.homeConfigurations.bricked.activationPackage"
